.bannerImg{
    height: 25vh;
    min-height: 400px;
    width: 100%;
}

.banner{
    position: relative;
}
#offerCard{
    color: white;
    position: absolute;
    top: 40%;
    background: transparent;
    border: none;
}

@media screen and (max-width : 800px) {
    #offerCard{
        width: 50vw;
    }
    
}